<html>
    <head>
    <link rel="stylesheet" href="../static/bootstrap-3.3.7/dist/css/bootstrap.min.css">
    <script src="../static/scripts/jquery.js"></script>
    <script src="../static/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="../static/scripts/common.js"></script>
    <style>
        button {
            float: right;
        }
        #logout {
        float: right;
        }
        .glyphicon {
            padding-right: 3px;
        }
    </style>
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0">
            <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href={{ url_for('index') }}><span class="glyphicon glyphicon-home"></span>某公司自动化测试平台</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="/run_xlsx"><span class="glyphicon glyphicon-list-alt"></span>excel平台</a></li>
                    <li class="active"><a href="/case"><span class="glyphicon glyphicon-fire"></span>可视化平台</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-music"></span>秘密基地
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><span class="glyphicon glyphicon-file"></span>测试报告</a></li>
                            <li><a href="/homework"><span class="glyphicon glyphicon-book"></span>作业</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-education"></span>答案</a></li>
                            <li class="divider"></li>
                            <li><a href="/people"><span class="glyphicon glyphicon-camera"></span>测试组乐园</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav" id="logout">
                    <li class="dropdown"><a href=""><span class="glyphicon glyphicon-user"> {{ user }}</span></a></li>
                    <li class="dropdown"><a href="/logout">注销</a></li>
                </ul>
            </div>
            </div>
        </nav>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <form action="/case/edit" method="post">
                    <div class="form-group">
                        <label for="case_name">用例名称：</label>
                        <input class="form-control" value={{ case.name }} name="case_name">
                    </div>
                    <div class="form-group">
					    <label for="assert">请求头：</label>
                        <textarea class="form-control" rows="4" name="headers">{{ case.headers }}</textarea>
					</div>
                    <div class="form-group">
                        <label>接口地址：</label>
                        <input class="form-control" value={{ case.url }} name="url">
                    </div>
                    <div class="form-group">
                        <label>用例描述：</label>
                        <input class="form-control" value={{ case.content }} name="content">
                    </div>
                    <div class="form-group">
                        <label>参数：</label>
                        <textarea class="form-control" rows="8" name="params">{{ case.params }}</textarea>

                    </div>
                    <div class="form-group">
                        <label>前置条件：</label>
                        <textarea class="form-control" rows="3" name="precondition">{{ case.precondition }}</textarea>

                    </div>
                    <div class="form-group">
                        <label>数据库准备：</label>
                        <textarea class="form-control" rows="4" name="sql_prepare">{{ case.sql_prepare }}</textarea>
                    </div>
                    <div class="form-group">
                        <label>数据库校验：</label>
                        <textarea class="form-control" rows="4" name="sql_verify">{{ case.sql_verify }}</textarea>
                    </div>                    <div class="form-group">
                        <label>数据库清理：</label>
                        <textarea class="form-control" rows="4" name="sql_clean">{{ case.sql_clean }}</textarea>
                    </div>
                    <div class="form-group">
                        <label>预期结果：</label>
                        <textarea class="form-control" rows="8" name="expected">{{ case.expected }}</textarea>
                    </div>
					<div class="form-group">
					    <label for="assert">断言方式：</label>
					    <select class="form-control" name='assert'>
					      <option>Equal</option>
					      <option>In</option>
					      <option>None</option>
					      <option>Not None</option>
					      <option>Contain</option>
					      <option>Not Equal</option>
                          <option>Not In</option>
					    </select>
					</div>
					<div class="form-group">
					    <label for="method">请求方式：</label>
					    <select class="form-control" name='method'>
					      <option>GET</option>
					      <option>POST</option>
					      <option>PUT</option>
					      <option>DELETE</option>
					    </select>
					</div>
                    <div class="form-group" style="display: none">
                        <input name="_id" value="{{ case._id }}">
                    </div>
                    <button type="submit" class="btn btn-primary">确定</button>

                </form>
            </div>
        </div>

    </body>
</html>